aws_region   = "eu-west-2"
environment  = "production"
project_name = "brfnapp"
domain_name  = "brfnapp.com"

db_name     = "brfn_db"
db_username = "brfn_user"

container_port = 8000
cpu            = 256
memory         = 512
desired_count  = 2

# Update these to match the GitHub repo if forking
github_org  = "snoopingasusualisee"
github_repo = "DESD"
